<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Inicio de Sesión</title>
  <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename = 'js/validaciones.js')}}"></script>
</head>

<body>
  <div class="wrapper">
    <div class="title">Iniciar Sesión</div>
    <div class="form">
      <div class="field">
        <input type="text" name="carnet" id="carnet" maxlength="9" required>
        <label>Carnet</label>
      </div>
      <div class="field">
        <input type="password" name="password" id="password" required>
        <label>Password</label>
      </div>
      <div class="field">
        <br>
        <button onclick="ingresar()">Ingresar</button>
      </div>
      <br>
      <div id="msga"></div>
      <div class="signup-link">
        ¿No esta registrado? <a href="registrar">Registrese ahora</a>
      </div>
    </div>
  </div>
  <script>
    function ingresar()
    {
      let carnet = document.getElementById('carnet').value;
      let password = document.getElementById('password').value;

      if(carnet === "" && password === "")
      {
        const textdiv = document.getElementById("msga");
        textdiv.textContent = "LLene todos los campos";
      }
      else
      {
        var objeto = {
            'carnet': carnet,
            'password': password
        }
        // console.log(objeto);
        fetch('/login', 
        { method: 'POST', body: JSON.stringify(objeto), headers:{ 'Content-Type': 'application/json'}}).then(res => res.json())
          .catch(error => { 
              console.error('Error:', error)
              alert("Ocurrio un error")
          })
          .then(response =>{
              if(response.Mensaje === 'admin')
              {
                location.href="/admin"
              }
              else if (response.Mensaje === 'estudiante')
              {
                location.href="/usuario"
              }
              // location.reload
              //location.href="/perfil"
          }) 
      }
    }
  </script>
</body>
</html>