<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Inicio de Sesión</title>
  <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename = 'js/validaciones.js')}}"></script>
</head>

<body>
  <div class="wrapper">
    <div class="title">Iniciar Sesión</div>
    <div class="form">
      <div class="field">
        <input type="text" name="carnet" id="carnet" maxlength="9" required onkeypress="return soloNumeros1(event);">
        <label>Carnet</label>
      </div>
      <div class="field">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>
      <div class="field">
        <br>
        <button>Ingresar</button>
      </div>
      <br>
      {% if error != None %}
      <div id="msga">
        ¡Usuario o contraseña incorrecta!
      </div>
      {% endif %}
      <div class="signup-link">
        ¿No esta registrado? <a href="registrar">Registrese ahora</a>
      </div>
    </div>
  </div>
</body>
</html>